body {
  background-color: black;
  background-image: url("../img/background2.gif");
  background-repeat: no-repeat;
  background-size: cover;
}


p {
  color: white;
  font-family: "Impact", sans-serif;
  font-size: 30px;
}

h1{
  text-align:center;
  vertical-align: middle;
  color: white;
	font-family:  "Arial", sans-serif;
  text-decoration: underline;
  font-size: 100px;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

a{
  color:#000;
  text-decoration:none;
  color: white;
}

.player1{
  color:#ff4da6;
  -webkit-animation: glowX 1s ease-in-out infinite alternate;
  -moz-animation: glowX 1s ease-in-out infinite alternate;
  animation: glowX 1s ease-in-out infinite alternate;
}

.player2{
  color:#70c8ff;
  -webkit-animation: glowO 1s ease-in-out infinite alternate;
  -moz-animation: glowO 1s ease-in-out infinite alternate;
  animation: glowO 1s ease-in-out infinite alternate;
}

.message{
  top: 400px;
  background-color:#00ba89;
  height:50px;
  color:#fff;
  display:none;
  text-align: center;
  font-size: 40px;
  font-family: "Impact", sans-serif;

}

.back {
  bottom: auto;
}

.restart{
  width:240px;
  text-align:center;
  margin:0 auto;
  color: white;
  font-family:  "Impact", sans-serif;
  font-size: 35px;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

.restart:hover{
  text-decoration: underline;
}

td {
	border:  10px solid #e8e8e8;
	height:  160px;
	width:  160px;
	text-align:  center;
	vertical-align:  middle;
	font-family:  "Arial", sans-serif;
	font-size:  110px;
	cursor: pointer;

}

table {
	border-collapse: collapse;
	position: absolute;
  align-items: center;
	left: 50%;
	margin-left: -255px;
	top: 460px;
}

table tr:first-child td {
	border-top: 0;
}

table tr:last-child td {
	border-bottom: 0;
}

table tr td:first-child {
	border-left: 0;
}

table tr td:last-child {
	border-right: 0;
}

@-webkit-keyframes glowO
{
  from
  {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to
  {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

@-webkit-keyframes glowX
{
  from
  {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #02aabf, 0 0 40px #02aabf, 0 0 50px #02aabf, 0 0 60px #02aabf, 0 0 70px #02aabf;
  }
  to
  {
    text-shadow: 0 0 20px #fff, 0 0 30px #49e8fc, 0 0 40px #49e8fc, 0 0 50px #49e8fc, 0 0 60px #49e8fc, 0 0 70px #49e8fc, 0 0 80px #49e8fc;
  }
}

@-webkit-keyframes glow
{
  from
  {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #b00017, 0 0 40px #b00017, 0 0 50px #b00017, 0 0 60px #b00017, 0 0 70px #b00017;
  }
  to
  {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff3d57, 0 0 40px #ff3d57, 0 0 50px #ff3d57, 0 0 60px #ff3d57, 0 0 70px #ff3d57, 0 0 80px #ff3d57;
  }
}

@-webkit-keyframes glowGrid
{
  from
  {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #b00017, 0 0 40px #b00017, 0 0 50px #b00017, 0 0 60px #b00017, 0 0 70px #b00017;
  }
  to
  {
    box-shadow: 0 0 20px #fff, 0 0 30px #ff3d57, 0 0 40px #ff3d57, 0 0 50px #ff3d57, 0 0 60px #ff3d57, 0 0 70px #ff3d57, 0 0 80px #ff3d57;
  }
}
