#canvas {
margin-left: 25%;
border: 10px solid #4a6c82;

}

h1,p {
  text-align: center;
}


h2 {
  text-align: center;
}

.jumbotron {
  background-color: #76b1d6;
}

a {
  display: inline-block;
  margin-left: 22%;
}
