#canvas {
  border: 10px solid black;
  margin: auto;
  display: block;
}

div header{
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
}

#snake_game, #snake_game_text, .jumbotron {
  text-align: center;
}

label {
  font-size: 25px;
  font-weight: bold;
}

.retry_button {
  font-size: 40px;
}
